# **Support Vector Machines**

https://towardsdatascience.com/https-medium-com-pupalerushikesh-svm-f4b42800e989

A Support Vector Machine (SVM) is a powerful and popular supervised machine learning algorithm used for classification and regression tasks. It is particularly effective for dealing with complex and high-dimensional datasets. SVMs are primarily used for classification problems, where the goal is to assign a given input to one of two or more predefined classes.

https://www.kaggle.com/competitions/titanic/data

In [ ]:
import warnings
warnings.filterwarnings("ignore")

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score

In [ ]:
df = pd.read_csv('train (3).csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
new_df = df.drop(['PassengerId','Name','Ticket','Cabin'],axis =1)
new_df.head(3)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S

In [ ]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder()
new_df['Embarked'] = lb.fit_transform(new_df['Embarked'])
lb2 = LabelEncoder()
new_df['Sex'] = lb2.fit_transform(new_df['Sex'])
new_df

     Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0           0       3    1  22.0      1      0   7.2500         2
1           1       1    0  38.0      1      0  71.2833         0
2           1       3    0  26.0      0      0   7.9250         2
3           1       1    0  35.0      1      0  53.1000         2
4           0       3    1  35.0      0      0   8.0500         2
..        ...     ...  ...   ...    ...    ...      ...       ...
886         0       2    1  27.0      0      0  13.0000         2
887         1       1    0  19.0      0      0  30.0000         2
888         0       3    0   NaN      1      2  23.4500         2
889         1       1    1  26.0      0      0  30.0000         0
890         0       3    1  32.0      0      0   7.7500         1

[891 rows x 8 columns]

In [ ]:
new_df.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      0
dtype: int64

In [ ]:
new_df['Age'] = new_df['Age'].fillna(np.mean(new_df['Age']))

In [ ]:
x = new_df.drop(['Survived'],axis = 1)
y = new_df['Survived']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 42, test_size = 0.2)

print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(712, 7)
(712,)
(179, 7)
(179,)

# **Simple SVM**

In [ ]:
from sklearn.svm import LinearSVC

clf = LinearSVC(random_state=42)
clf.fit(x_train,y_train)
pred = clf.predict(x_test)
cr = classification_report(y_test,pred)
print(cr)

              precision    recall  f1-score   support

           0       0.83      0.86      0.84       105
           1       0.79      0.74      0.76        74

    accuracy                           0.81       179
   macro avg       0.81      0.80      0.80       179
weighted avg       0.81      0.81      0.81       179

In [ ]:
# from sklearn.svm import LinearSVC

# from sklearn.linear_model import LogisticRegression
# clf = LogisticRegression()
# clf.fit(x_train,y_train)
# pred = clf.predict(x_test)
# cr = classification_report(y_test,pred)
# print(cr)

# **K FOLD**

In [ ]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_folds = 5
kf = KFold(n_splits=k_folds, shuffle=True, random_state=42)
scores = cross_val_score(clf, x, y, cv=kf, scoring='accuracy')

print("Cross-validation scores:", scores)
print("Mean score:", scores.mean())

Cross-validation scores: [0.79329609 0.75842697 0.7247191  0.71348315 0.74157303]
Mean score: 0.7462996673152972

# **GridSearchCV**

In [ ]:
from sklearn.model_selection import GridSearchCV

parameters = {
    'C': [x/100 for x in range(10,200,5)],
    'max_iter': [x for x in range(1000,5000,1000)],
    'penalty': ['l1','l2']
    #random_state : [x for x in range(1,100)]
}
grid_search = GridSearchCV(clf, parameters, n_jobs=-1)
grid_search.fit(x_train, y_train)

best_model = grid_search.best_estimator_

/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_validation.py:378: FitFailedWarning:
760 fits failed out of a total of 1520.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
760 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.10/dist-packages/sklearn/svm/_classes.py", line 274, in fit
    self.coef_, self.intercept_, n_iter_ = _fit_liblinear(
  File "/usr/local/lib/python3.10/dist-packages/sklearn/svm/_base.py", line 1223, in _fit_liblinear
    solver_type = _get_liblinear_solver_type(multi_class, penalty, loss, dual)
  File "/usr/local/lib/python3.10/dist-packages/sklearn/svm/_base.py", line 1062, in _get_liblinear_solver_type
    raise ValueError(
ValueError: Unsupported set of arguments: The combination of penalty='l1' and loss='squared_hinge' are not supported when dual=True, Parameters: penalty='l1', loss='squared_hinge', dual=True

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan 0.79348961        nan 0.78648675        nan 0.7878952
        nan 0.79211071        nan 0.78366985        nan 0.79911356
        nan 0.78648675        nan 0.79211071        nan 0.7794445
        nan 0.77803605        nan 0.78928396        nan 0.79210086
        nan 0.79350931        nan 0.7893135         nan 0.7878755
        nan 0.7850586         nan 0.7851571         nan 0.80196986
        nan 0.7794642         nan 0.79351916        nan 0.76969369
        nan 0.79212056        nan 0.7907121         nan 0.79070226
        nan 0.74289373        nan 0.7766276         nan 0.78646705
        nan 0.79772481        nan 0.70798779        nan 0.79495716
        nan 0.79349946        nan 0.78646705        nan 0.74282478
        nan 0.79772481        nan 0.77526839        nan 0.78223185
        nan 0.72329361        nan 0.79352901        nan 0.7837191
        nan 0.78506845        nan 0.75856397        nan 0.7794445
        nan 0.77807545        nan 0.7864966         nan 0.74731606
        nan 0.73727962        nan 0.79352901        nan 0.76676844
        nan 0.6921895         nan 0.76540924        nan 0.76815719
        nan 0.79212056        nan 0.76825569        nan 0.77385009
        nan 0.76544864        nan 0.78366           nan 0.70931744
        nan 0.76258249        nan 0.77100364        nan 0.78231065
        nan 0.74443022        nan 0.76823599        nan 0.77247119
        nan 0.78085295        nan 0.78085295        nan 0.76815719
        nan 0.77521915        nan 0.78508815        nan 0.69941889
        nan 0.72048656        nan 0.75705703        nan 0.77529794
        nan 0.7092091         nan 0.75973604        nan 0.7822614
        nan 0.74711908        nan 0.72881907        nan 0.73024722
        nan 0.7921304         nan 0.78648675        nan 0.72897666
        nan 0.73588102        nan 0.73300502        nan 0.77524869
        nan 0.71509899        nan 0.76823599        nan 0.74303162
        nan 0.77387964        nan 0.70492465        nan 0.72879937
        nan 0.77098395        nan 0.7893529         nan 0.72757806
        nan 0.75426967        nan 0.76119374        nan 0.76269083
        nan 0.71758101        nan 0.72480055        nan 0.75409239
        nan 0.7780656         nan 0.69950753        nan 0.74019502
        nan 0.74993598        nan 0.76961489        nan 0.70364424
        nan 0.73179356        nan 0.77805575        nan 0.75699793
        nan 0.65585541        nan 0.70528908        nan 0.75986408
        nan 0.74434157        nan 0.68538363        nan 0.72886831
        nan 0.73022752        nan 0.77249089        nan 0.71905841
        nan 0.75144292        nan 0.76965429        nan 0.73460061
        nan 0.65010342        nan 0.76404019        nan 0.74154437
        nan 0.75150202        nan 0.71902886        nan 0.76115434
        nan 0.76120359        nan 0.73181326        nan 0.6922289
        nan 0.6993204         nan 0.71054861        nan 0.75697823
        nan 0.72476115        nan 0.72461341        nan 0.73890476
        nan 0.78652615        nan 0.69657244        nan 0.72041761
        nan 0.72322466        nan 0.75982468        nan 0.67258938
        nan 0.73440362        nan 0.74715848        nan 0.75142322
        nan 0.72748941        nan 0.7119866         nan 0.73588102
        nan 0.77385994        nan 0.73333005        nan 0.7219935
        nan 0.73594997        nan 0.76826554]
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/svm/_base.py:1244: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

In [ ]:
bestest_model = LinearSVC(C=0.3, max_iter=10000)
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_folds = 5
kf = KFold(n_splits=k_folds, shuffle=True, random_state=42)
scores = cross_val_score(bestest_model, x, y, cv=kf, scoring='accuracy')

print("Cross-validation scores:", scores)
print("Mean score:", scores.mean())

Cross-validation scores: [0.79329609 0.78089888 0.83707865 0.76966292 0.82022472]
Mean score: 0.8002322515849603

https://www.kaggle.com/datasets/uciml/human-activity-recognition-with-smartphones?select=train.csv